# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# User-specific stuff:
.idea/
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# archives
*.zip

# delve's debug binaries
**/__debug_bin*
**/debug.test*

coverage.txt
