# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# User-specific stuff:
.idea/
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# archives
*.zip

# delve's debug binaries
**/__debug_bin*
**/debug.test*

coverage.txt

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# virtual environments
.venv
.venvs
venv
venvs

python_bindings/carcassonne_engine/_bindings/*
!python_bindings/carcassonne_engine/_bindings/__init__.py

logs/

built_wheels/

# Protobuf
pkg/proto/
pkg/proto/*