name: Performance tests

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  GO_VERSION: '1.22.1'
  PYTHON_VERSION: '3.12'
  BUILT_WHEELS_DIR: built_wheels

permissions: read-all
jobs:
  performance-tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"
      # Install gotestfmt on the VM running the action.
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2            
      - name: Run tests
        run: |
          go test -v ./pkg/game/performancetests -bench=. -run=xxx -benchmem
          go test -v ./pkg/engine/request_performance_tests -bench=. -run=xxx -benchmem -benchtime=1x
